<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Ivy English</h4>
      </div>
      <div class="modal-body">
          <p>
              Our mission is to empower anyone, anywhere to become fluent in English.
	      We use live video technology and small group classes to create an immersive,
	      online learning environment focused on practical language skills such as speaking, listening, reading and writing.
          </p>
          <p>
              Our team is composed of TEFL-certified, native English speakers who are experts
	      at developing a personalized instruction plan for you or your organization.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
