<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Ivy English</h4>
      </div>
      <div class="modal-body">
          <p>
              Our mission is to empower anyone, anywhere to become fluent in English and pursue an education at a top caliber university in the US.
              We use live video technology and small group classes to create an immersive, online learning environment focused on practical
              language skills such as speaking, listening, reading and writing.
          </p>
          <p>
              Our team is composed of native English speakers who can help
              you prepare your college applications, study for the SAT/TOEFL, or improve your general English skills.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
