{% extends "ivy/views/templates/base.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
         <br />
         <br />
          <div class="row">
             <h1>Ivy English for Businesses</h1>
              <p>
	          Ivy English offers a range of corporate training solutions for businesses seeking to
		  improve their employees English skills. We develop customized curriculums specific
		  to your business needs and focus on aspects of communication most relevant to the workplace:
		  conversational ability and writing skills.
              </p>
              <!--<p>
                  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#demoModal">
                      <span class="glyphicon glyphicon-play-circle"></span> Demo
		  </button>
              </p>-->
         </div>
      </div>
    </div>

    <!--    {% include "ivy/views/templates/demo.html" %}-->

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row" style="margin-top:80px">
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-globe glyph-featurette"></span>
                <h2>American English Focus</h2>
                <p>Our focus on American English will best prepare your organization to succeed in an increasingly global and distributed economy.
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-comment glyph-featurette"></span>
                <h2>Native Speaking Teachers</h2>
                <p>Native speakering teachers educated at top American universities and small group classes will ensure loads of personal attention to achieve your goals.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <span class="glyphicon glyphicon-briefcase glyph-featurette"></span>
                <h2>Customized Curriculums</h2>
		<p>Our curriculums are designed to appeal to the business professional and with your organization's specific needs in mind.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>


        <!-- START THE FEATURETTES -->

        <div class="bg">
            <hr class="featurette-divider">
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Live online classes. <span class="text-muted">Support to reach your goals.</span></h2>
                        <p class="lead">Our small group classes are delivered entirely online for maximum convenience and productivity. Led by experienced native speakers with a track record of teaching success, your employees will receive tons of individual guidance and feedback.
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive" src="img/featurette1.jpg" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <div class="container">
                <div class="row featurette">
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive" src="img/featurette4.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Talent development. <span class="text-muted">More effective employees.</span></h2>
                        <p class="lead">Investing in your employee's professional development is a great way to differentiate yourself as an employer in order to attract and retain the best talent.
                    </div>
                </div>
        </div>

<div class="bg">
        <hr class="featurette-divider">

<div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Customized curriculums. <span class="text-muted">Tailored to your needs.</span></h2>
                <p class="lead">Not every business is the same. So why put up with ineffective one-size-fits-all curriculums? We'll work with you to develop a training program specific to your industry and business needs.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="img/featurette3.jpg" alt="Generic placeholder image">
            </div>
        </div>
</div>
        <hr class="featurette-divider">
</div>


        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
<div class="container">
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Ivy English<!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
        </footer>

    </div><!-- /.container -->
{% endblock %}
