<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="text-center">ONLINE GROUP CLASSES</h4>
		</div>
		<div class="panel-body text-center">
			<p class="lead">
			<strong>$100 / month</strong></p>
		</div>
		<ul class="list-group list-group-flush text-center">
			<li class="list-group-item"><i class="icon-ok text-danger"></i>Small group classes</li>
			<li class="list-group-item"><i class="icon-ok text-danger"></i>After-school programs</li>
			<li class="list-group-item"><i class="icon-ok text-danger"></i>Free initial consultation</li>
		</ul>
		<div class="panel-footer" align="center">
			<form action="/charge" method="POST">
				<script src="https://checkout.stripe.com/checkout.js"
					class="stripe-button"
					data-key="pk_live_MvG6467HO0Ngwu0leeenefDg"
					data-amount="10000"
					data-name="Ivy English"
					data-description="1 month online classes ($100.00)"
					data-image="img/ivy-leaf.png">
				</script>
			</form>
		</div>
	</div>
</div>


<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="text-center">ONE-ON-ONE TUTORING</h4>
		</div>
		<div class="panel-body text-center">
			<p class="lead">
			<strong>$100 / hour</strong></p>
		</div>
		<ul class="list-group list-group-flush text-center">
			<li class="list-group-item"><i class="icon-ok text-danger"></i>Personalzed learning roadmap</li>
			<li class="list-group-item"><i class="icon-ok text-danger"></i>Expert coaching</li>
			<li class="list-group-item"><i class="icon-ok text-danger"></i>Reading, writing, conversation</li>
		</ul>
		<div class="panel-footer" align="center">
			<form action="/charge" method="POST">
				<script src="https://checkout.stripe.com/checkout.js"
					class="stripe-button"
					data-key="pk_live_MvG6467HO0Ngwu0leeenefDg"
					data-amount="1000"
					data-name="Ivy English"
					data-description="1 hour private tutoring ($60.00)"
					data-image="img/ivy-leaf.png">
				</script>
			</form>
		</div>
	</div>
</div>
